app = "belajaryuk"

[build]
  # Pakai Dockerfile di root
  image = "Dockerfile"

[env]
  MONGO_URI = "dummy"   # nanti diganti dengan secret
  FRONTEND_URL = "https://myfrontend.vercel.app"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
